### git

""""
Our main agenda is to upload /push to Github

-initialize Git
 by using the command Git init

-Stage our changes
git add <argument>
#i.e change for notebook alone
git add robot.ipynb
#i.e track all the files
git add .

-Taking a snapshot with a label
git commit

-Upload to Github
git push origin <name of your branch>



"""

### python File I/O
python 's built in ways to opening/loading files (input and output)

**open()** is the dedicated function in python to load files.

Syntax:

open(filename,mode)

**mode**

* 'r' ----> read only
* 'w' ----> write only()
* 'r+' ----> read and write
* 'a' ----> append only(going to write new data at the end of the file without erasing existing)

In [1]:
import pandas as pd
pd.read_csv('./sample.csv').head()

   a  b  c  d  e
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [2]:
x = open('./sample.csv', 'r')
x.read()

'a,b,c,d,e\n1,2,3,4,5\n1,2,3,4,5\n1,2,3,4,5\n'

This automatically opens and closes the file when using the open() function.

In [5]:
with open('sample.csv','r') as f:
    print(f.read())

a,b,c,d,e
1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

In [11]:
import csv
with open('sample.csv') as f:
  reader = csv.DictReader(f)
  for row in reader:
        print(row['Amsterdam'], row['Berlin'])

101 201
102 202
103 203

Create a new file and write to it

In [15]:
with open('cities.txt','w') as f:
   f.write('Amsterdam | Berlin | Cairo')

##JSON
JSON is javascript Object Notation

In [ ]:
import json

#with open to load json file
with open('playlist.json', 'r') as f:
    data = json.load(f)

data['playlist_name']

'My_Jams'

In [3]:
data ['tracks']

[{'title': 'Stan',
  'artist': 'Eminem',
  'album': 'The Marshall Mathers LP',
  'duration_sec': 405},
 {'title': 'In Da Club',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 240},
 {'title': 'Suzanna',
  'artist': 'Sauti Sol',
  'album': 'Midnight Train',
  'duration_sec': 239},
 {'title': 'Many Men',
  'artist': '50 Cent',
  'album': 'Get Rich or Die Tryin',
  'duration_sec': 256},
 {'title': 'Bad Liar',
  'artist': 'Imagine Dragons',
  'album': 'Origins',
  'duration_sec': 243}]

Exploring JSON

In [4]:
data.keys()

dict_keys(['playlist_name', 'created_by', 'tracks'])

In [5]:
data.values()

dict_values(['My_Jams', 'Chacha', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}]])

In [6]:
#accessing the third song
data['tracks'][2]['title']

'Suzanna'

In [8]:
#accessing origins
data['tracks'][4]['album']

'Origins'

##Transforming JSON Schema 

Here we want to transform JSON into a flatter structure ,which we can use for analysis.

In [ ]:
"""
Load the JSON,
iterate over the tracks and create a new list from the dat points
'artist':['eminem', '50 cent','sauti sol','imagine dragons']
"""

In [ ]:
data

In [17]:
tracks = data['tracks']

flattened_tracks = []

for track in tracks:
  flattened_tracks.append({
    'TITLE':track['title'],
    #'ARTIST':track['artist'],
    'ALBUM':track['album'],
    #'LENGTH OF SONG':track['duration_sec'],
    'LENGTH IN MIN':round(track['duration_sec']/60,2),
  })

flattened_tracks

[{'TITLE': 'Stan', 'ALBUM': 'The Marshall Mathers LP', 'LENGTH IN MIN': 6.75},
 {'TITLE': 'In Da Club',
  'ALBUM': 'Get Rich or Die Tryin',
  'LENGTH IN MIN': 4.0},
 {'TITLE': 'Suzanna', 'ALBUM': 'Midnight Train', 'LENGTH IN MIN': 3.98},
 {'TITLE': 'Many Men',
  'ALBUM': 'Get Rich or Die Tryin',
  'LENGTH IN MIN': 4.27},
 {'TITLE': 'Bad Liar', 'ALBUM': 'Origins', 'LENGTH IN MIN': 4.05}]

In [19]:
import pandas as pd
pd.DataFrame(flattened_tracks).head()

        TITLE                    ALBUM  LENGTH IN MIN
0        Stan  The Marshall Mathers LP           6.75
1  In Da Club    Get Rich or Die Tryin           4.00
2     Suzanna           Midnight Train           3.98
3    Many Men    Get Rich or Die Tryin           4.27
4    Bad Liar                  Origins           4.05

In [ ]:
#using pandas to make it a csv
import pandas  as pd
with open('playlist.json','r') as f:
    playlist = json.load(f)

df = pd.DataFrame(playlist['tracks'])  

df.head()

#df.to_csv('tracks.csv', index=False)

        title           artist                    album  duration_sec
0        Stan           Eminem  The Marshall Mathers LP           405
1  In Da Club          50 Cent    Get Rich or Die Tryin           240
2     Suzanna        Sauti Sol           Midnight Train           239
3    Many Men          50 Cent    Get Rich or Die Tryin           256
4    Bad Liar  Imagine Dragons                  Origins           243

In [ ]:
flattened_tracks = []


for track in tracks:
    dict_keys = list(track.keys())
    print(dict_keys)
    flattened_tracks.append({
        dict_keys[0]: track['title'],
        dict_keys[1]:track['artist'],
        dict_keys[2]:round(track['duration_sec'] / 60 ,2)
    })

df2 = pd.DataFrame(flattened_tracks)

df2.head()

['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']
['title', 'artist', 'album', 'duration_sec']

        title           artist  album
0        Stan           Eminem   6.75
1  In Da Club          50 Cent   4.00
2     Suzanna        Sauti Sol   3.98
3    Many Men          50 Cent   4.27
4    Bad Liar  Imagine Dragons   4.05

In [20]:
import json
import csv

#loading the json file
with open('playlist.json','r') as f:
    data = json.load(f)


#creating as csv file
with open('playlist.csv','w', newline ="") as f:  
     writer = csv.DictWriter(f, fieldnames=['title','artist','album','duration_sec']) 
     writer.writeheader()
     writer.writerows(data['tracks'])