### git

""""
Our main agenda is to upload /push to Github

-initialize Git
 by using the command Git init

-Stage our changes
git add <argument>
#i.e change for notebook alone
git add robot.ipynb
#i.e track all the files
git add .

-Taking a snapshot with a label
git commit

-Upload to Github
git push origin <name of your branch>



"""

### python File I/O
python 's built in ways to opening/loading files (input and output)

**open()** is the dedicated function in python to load files.

Syntax:

open(filename,mode)

**mode**

* 'r' ----> read only
* 'w' ----> write only()
* 'r+' ----> read and write
* 'a' ----> append only(going to write new data at the end of the file without erasing existing)

In [1]:
import pandas as pd
pd.read_csv('./sample.csv').head()

   a  b  c  d  e
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [2]:
x = open('./sample.csv', 'r')
x.read()

'a,b,c,d,e\n1,2,3,4,5\n1,2,3,4,5\n1,2,3,4,5\n'

This automatically opens and closes the file when using the open() function.

In [5]:
with open('sample.csv','r') as f:
    print(f.read())

a,b,c,d,e
1,2,3,4,5
1,2,3,4,5
1,2,3,4,5

In [11]:
import csv
with open('sample.csv') as f:
  reader = csv.DictReader(f)
  for row in reader:
        print(row['Amsterdam'], row['Berlin'])

101 201
102 202
103 203

Create a new file and write to it

In [15]:
with open('cities.txt','w') as f:
   f.write('Amsterdam | Berlin | Cairo')